config I2C_SPACEMIT_K1
	tristate "Spacemit k1 I2C adapter"
	help
	  Say yes if you want to use I2C interface on sapcemit k1 platform.

	  This driver can also be built as a module. If so, the module will be
	  called i2c-spacemit-k1.
