config I2C_K1
	tristate "spacemit k1 i2c adapter"
	depends on arch_spacemit || compile_test
	help
	  this option enables support for the i2c interface on the spacemit k1
	  platform.

	  if you enable this configuration, the kernel will include support for
	  the i2c adapter specific to the spacemit k1 platform. this driver ca
	  be used to manage i2c bus transactions, which are necessary for
	  interfacing with i2c peripherals such as sensors, eeproms, and other
	  devices.

	  this driver can also be compiled as a module. if you choose to build
	  it as a module, the resulting kernel module will be named `i2c-k1`.
	  loading this module will enable the i2c functionality for the k1
	  platform dynamically, without requiring a rebuild of the kernel.
